// 按鈕設定
$btn-font-color:$btn-word;
$btn-border:darken($btn-font-color, 5);
$btn-padding:.5em 1.25em;
$btn-radius:.2em;
// 按鈕外框
.btn_grp {
    text-align: center;
    padding: 1em 0;
}

.btn_inline{
    display: flex;
    justify-content: center;

    a{
        margin: 0 2px;
    }
}

// 按鈕的共用設定
@mixin btn_setting($btn-bg:#e0e0e0, $btn-font-color:$btn-font-color) {
    background: $btn-bg;
    border: 1px solid $btn-bg;
    color: $btn-font-color;
    // text-shadow:1px 1px 1px RGBA(0,0,0,.3);
    // border-radius: $btn-radius;
    // @include gradient(lighten($btn-bg, 5), darken($btn-bg, 15), vertical);
    &:hover{
        background: darken($btn-bg, 10); // Old browsers
        border: 1px solid darken($btn-bg, 20);
        cursor: pointer;
        color: #FFF;
        outline:none;
        // @include gradient(lighten($btn-bg, 10), darken($btn-bg, 18), vertical);
    }
    &:focus {
        background: darken($btn-bg, 10); // Old browsers
        border: 1px solid darken($btn-bg, 20);
        cursor: pointer;
        color: #FFF;
        outline:none;
        box-shadow: 0 0px 0px 2px $aFocus !important;
        // @include gradient(lighten($btn-bg, 10), darken($btn-bg, 18), vertical);
    }
    &.active {
        background: lighten($btn-bg, 5);
        cursor: pointer;
    }
}
// 按鈕預設陰影
// %btn {
//     font-size: $font-size;
//     touch-action: manipulation;
//     background-image: none; //修正firefox
//     display: inline-block;
//     text-align: center;
//     vertical-align: middle;
//     text-decoration: none;
//     white-space: nowrap;
//     line-height: normal;
//     width: auto;
//     padding: $btn-padding;
//     min-width: 4em;
//     margin:.25em .1em;
    
//     i {
//         margin-right: .25em;
//         margin-left: .25em;
//     }
// }
// // 按鈕基本樣式
// .btn {
//     @extend %btn;
//     // box-sizing: border-box;
//     @include btn_setting;
//     text-shadow:none;
//     &:hover,
//     &:focus {
//         color: $btn-font-color;
//         outline: none;
//     }
// }


// -------------------------------------------------
.btn {
    background: url(../images/bg_btn_primary10.svg);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;

    transition: all 1ms ease;

    img, .svg{
        width: 20px;
        height: 20px;
    }
    &:focus{
        background: url(../images/bg_btn_primary100.svg);
        // svg focus 換色
        .svg{
            path,
            circle,
            rect{ fill: $Nature-w-Color-100; }
        }
    }
}

.btn_functions{}
.btn_sent{
    background: transparent;
    &:focus{
        background: transparent;
        .svg{
            path,
            circle,
            rect{ fill: $primaryColor-100; }
        }
    }
}


.btn_prev, .btn_next, .btn_close{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0;
    background: url(../images/bg_btn_primary10.svg);
    background-size: contain;

    transition: all .3s ease;

    // &:hover{ background: url(../images/bg_btn_primary30.svg); }
    &:hover, &:focus{
        background: url(../images/bg_btn_primary30.svg);
        // svg focus 換色
        // .svg{
        //     path,
        //     circle,
        //     rect{ fill: #fff; }
        // }
    }
}
.btn_prev{}
.btn_next{}
.btn_close{}

.btn_normal{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    box-sizing: border-box;
    border-radius: 30px;

    border: 1px solid transparent;
    background: $primaryColor-10;
    color: $primaryColor-100;

    transition: all .3s ease;

    &:hover, &:focus{
        background: $primaryColor-30;
        color: $primaryColor-100;
    }

    &.like{
        background: $Nature-w-Color-100;
        border: 1px solid $primaryColor-30;
        &:hover{
            border: 1px solid $primaryColor-100;
        }

        &.act{
            background: $NoticeColor;
            color: #fff;

            &:hover, &:focus{
                border: 1px solid transparent;
            }

            // &:hover{
            //     background: darken($NoticeColor, 6);
            // }
            // &:focus{
            //     // background: darken($NoticeColor, 10);
            //     background: $primaryColor-100;
            // }
        }
    }

    &.disable{
        background: $Nature-b-Color-2;
        color: $Nature-b-Color-20;
        cursor: not-allowed;

        &:hover, &:focus{}
    }
}


// -------------------------------------------------


//按鈕顏色
//@include btn_setting(按鈕顏色,字的顏色);
.btn-green {
    // @extend %btn;
    @include btn_setting($color-green, #FFF);
}
.btn-blue {
    // @extend %btn;
    @include btn_setting($color-blue, #FFF);
}
.btn-yellow {
    // @extend %btn;
    @include btn_setting(lighten($color-yellow, 5), #333);
}
.btn-orange {
    // @extend %btn;
    @include btn_setting(lighten($color-orange, 0), #FFF);
}
.btn-red {
    // @extend %btn;
    @include btn_setting($color-red, #FFF);
}
.btn-purple {
    // @extend %btn;
    @include btn_setting(lighten($color-purple, 5), #FFF);
}
.btn-submit {
    // @extend %btn;
    @include btn_setting(lighten($primaryColor, 5), #FFF);
}
.btn-reset {
    // @extend %btn;
    color:lighten($color-word,15);
}
.btn-search {
    // @extend %btn;
    @include btn_setting(lighten($primaryColor, 5), #FFF);
}
// 主要按鈕
.btn-primary{
    background: $primaryColor!important;
    color: #fff !important;
    border: solid 1px $primaryColor!important;

    &:hover,
    &:focus {
        background: darken($primaryColor, 10)!important;
        border: solid 1px $primaryColor!important;

    }
}
// 次要按鈕
.btn-secondary{
    background: #fff !important;
    color: darken($primaryColor, 15)!important;
    border: solid 1px $primaryColor!important;
    text-shadow: none !important;
    &:hover,
    &:focus {
        color: darken($primaryColor, 30)!important;
        background: #b5deff!important;
        border: solid 1px #b5deff!important;
    }
}
// 一般按鈕
.btn-normal{
    background: #f1f1f1!important;
    color: #65656E !important;
    border: solid 1px #c3c3c3!important;
    text-shadow: none!important;
    &:hover,
    &:focus{
        color: darken(#65656E, 15)!important;
        background: #c3c3c3!important;
        border: solid 1px #c3c3c3!important;
    }
}

// 返回
.btn-back{
    background: #555 !important;
    color: #fff !important;
    border: 1px solid #ddd !important;
    &:hover,
    &:focus {
        background: darken($primaryColor, 10) !important;
        border: 1px solid #ddd !important;
    }
}

.disabled, [disabled] {
    opacity: .5;
    cursor: not-allowed!important;
    text-shadow:none;
}
.readonly, [readonly] {
    // opacity: .5;
    cursor: not-allowed!important;
    text-shadow:none;
}


// 按鈕大小
.btn-xl {
    font-size: $font-size * 1.5; //24px
}
.btn-lg {
    font-size: $font-size * 1.25; //20px
}
.btn-sm {
    font-size: $font-size * .938; //15px
}
.btn-xs {
    font-size: $font-size * .75; //12px
}